
<div class="container justify-content-center">
<div class="row justify-content-md-center">
  <div class="col-12">
  <h1>Add a new restaurant</h1>
  </div>
</div>
  <div class="row justify-content-md-center">
<%= render "form", restaurant: @restaurant %>
</div>

</div>
